@font-face {
    font-family: 'Dazzle Unicase';
    src: url('./fonts/DazzleUnicase-Bold.woff2') format('woff2'),
         url('./fonts/DazzleUnicase-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
