@font-face {
    font-family: 'Dazzle Unicase';
    src: url('/assets/fonts/DazzleUnicase-Bold.woff2') format('woff2'),
        url('/assets/fonts/DazzleUnicase-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dazzle Unicase';
    src: url('DazzleUnicase-Light.woff2') format('woff2'),
        url('DazzleUnicase-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dazzle Unicase';
    src: url('DazzleUnicase-Thin.woff2') format('woff2'),
        url('DazzleUnicase-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dazzle Unicase';
    src: url('DazzleUnicase-Medium.woff2') format('woff2'),
        url('DazzleUnicase-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

